.headerContainer {
  margin: 15px 15% 15px 15%;
  width: 70%;
  height: 40px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  margin-left: 40px;
  color: white;
}

.headerRoutes {
  gap: 8px;
}

.headerText {
  color: white;
}

.headerSelectedRoute {
  border-bottom: 1px solid black;
}

.authButton {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 24px;
  align-items: center;
  cursor: pointer;
}
