.Container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.CreateContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CreateButton {
  width: 100px;
  height: 50px;
}

.PieContainer {
  display: inline-flex;
  gap: 20px;
  justify-content: center;
}

.Pie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Chart {
  width: 250px;
}

.PieLabel {
  color: white;
}
