.Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Title {
  text-align: center;
}

.PieContainer {
  display: inline-flex;
  gap: 20px;
}

.Pie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Chart {
  width: 250px;
}
